/* Tab Unload Style - Faded Unloaded Tabs */

@media -moz-pref("browser.tabs.fadeOutUnloadedTabs") {
  .tabbrowser-tab[pending="true"] {
    opacity: 0.69 !important;
  }
}

@media -moz-pref("arc-grayscale-unloaded-tabs") {
  .tabbrowser-tab[pending="true"] {
    filter: grayscale(1) !important;
  }
}

/* Rounded Sidebar Items */

.tabbrowser-tab {
  border-radius: var(--mod-zenmodme-browser-radius, 8px) !important;

  & .tab-background {
    border-radius: var(--mod-zenmodme-browser-radius, 8px) !important;
  }
}

#zen-sidebar {
  .toolbarbutton-1,
  .tab-icon-overlay {
    border-radius: var(--mod-zenmodme-browser-radius, 8px) !important;
  }
}
